section.banner-block
    include ui-kit/button
    .container
        .banner-block__wrapper
            h2.banner-block__sub-title Каршеринг
            h1.banner-block__title Need for drive
            h3.banner-block__text
                p Поминутная аренда авто твоего города
            +button('Забронировать', true).button--banner-block(title="Забронировать сейчас")