include ui-kit/icon
header.header
    include ./burger
    .header__top
        a(href="#" title="").header__title Need for drive
        a(href="#" title="").header__map
            +icon('map').header__icon
            span Ульяновск