header.header
    include ./burger
    include ui-kit/icon
    .header__top
        .container
            .header__top-wrapper
                a(href="#" title="").header__title Need for drive
                a(href="#" title="Выбрать город").header__map
                    +icon('map').icon-map--header
                    span Ульяновск