mixin menu(...items)
    include social
    include menu-list
    include ui-kit/button
    .menu(id="menu")
        .menu__wrapper
            .menu__content
                +menu-list('Парковка', 'Страховка', 'Бензин', 'Обслуживание')
                +social('telegram', 'facebook', 'instagram')
            +button("Eng", false).button--language-menu(title="Выбрать язык")    
