mixin menu(...items)
    include social
    include ui-kit/button
    .menu(id="menu")
        .menu__wrapper
            .menu__content
                nav.menu__nav
                    ul.menu__list
                        each item in items
                            li.menu__item
                                a(href='javascript:void(0);' title="") !{item}
                +social('telegram', 'facebook', 'instagram')
            +button("Eng", false).burger__language.burger__language--menu
            
