mixin slider(data)
    .slider(class!=attributes.class)
        .slider__list.js-slider
            each item in data.items
                .slider__item
                    .slider__image
                        img(src=item.src, alt='', title='')
                    .slider__info
                        .container
                            h2.slider__title #{item.title}
                            .slider__text !{item.text}
                            include ui-kit/button
                            +button('Подробнее', true).slider__button