.banner
    flexD(column, flex-start, stretch, nowrap)
    height 100%

    @media (min-width: $tablet)
        paddingMenu()

    &__wrapper
        flex 1 0 auto
    
    &__sub-title
        font-weight 700
        font-size 32px
        color clFontGreen
        line-height 100%
        word-wrap break-word

        @media (min-width: $tablet)
            font-size 70px

    &__title
        font-weight 700
        font-size 32px
        color clFontBlack
        margin-bottom 10px
        word-wrap break-word

        @media (min-width: $tablet)
            font-size 70px
            line-height 66px
            margin-bottom 28px
    
    &__text
        font-weight 300
        font-size 18px
        line-height 21px
        color clFontGray500
        margin-bottom 31px
        word-wrap break-word

        @media (min-width: $tablet)
            font-size 26px
            line-height 30px
            margin-bottom 61px
    
    &__button
        -moz-appearance    none
        -webkit-appearance none
        appearance         none

        border none
        background greenGradientInvert
        font-weight 500
        font-size 18px
        line-height 21px
        text-align center
        color clFontWhite
        min-width 320px
        width 100vw
        padding 15px
        display block
        margin-left -16px
        word-wrap break-word
        transition background 1s ease-in

        &:hover
        &.active
            background greenGradientInvertHover
        
        &:active
           background greenGradientInvertActive
        
        &.disabled
            background clDisablid
            

        @media (min-width: $tablet)
            min-width 250px
            width auto
            display inline-block
            border-radius 8px
            margin 0
            line-height 18px

