.burger
    margin-left 10px

    @media (min-width: $tablet)
        background-color clDark
        min-height 100%
        position fixed
        top 0
        left 0
        bottom 0
        z-index 25000
        margin-left 0
        width 85px
        padding 22px 0 20px
        flexD(column, space-between, stretch, nowrap)

        &.open
            background-color clMenuBkgr

            .burger__language
                display none

            .burger__icon
                width 48px
                padding 0
                margin 0 10px
                span
                    width 25px
    
    @media (min-width: $desktop-min)
        width 65px
        padding 20px 0 16px
    
    @media (min-width: $desktop)
        padding-top 24px

    &__icon
        height 46px
        width 46px
        display block
        border none
        background-color transparent
        padding 3px 5px 0 2px
        position relative
        top -10px
        cursor pointer
        color clBlack
        z-index 250000

        &:hover
        &:focus
        &:active
        &.active
            color clGreen
            transition all transitionButton
        
        &.disabled
            color clDisablid

        @media (min-width: $tablet)
            padding 0 24px
            width 100%
            position static
            color #fff
        
        @media (min-width: $desktop-min)
            padding 0 20px
        
        span
            width 21px
            height 3px
            border-radius 25%
            position relative
            display inline-block
            vertical-align middle
            background-color currentColor

            @media (min-width: $tablet)
                width 100%

            &:before
            &:after
                position absolute
                content ""
                background-color currentColor
                width 21px
                height 3px
                border-radius 25%
                left 0
            
                @media (min-width: $tablet)
                    width 100%
        
            &:after
                top 8px
            &:before
                bottom 8px

    &__close
        span
            background-color transparent
            color transparent
            transition all .2s

            &:before
            &:after
                color clWhite
            
            &:before
                bottom 0
                transform rotate(-45deg)
                transition transform transitionButton cubic-bezier(0.55, 0.055, 0.675, 0.19),
                            bottom .1s 
            
            &:after
                top 0
                transform rotate(45deg)
                transition transform transitionButton cubic-bezier(0.55, 0.055, 0.675, 0.19),
                            top .1s 
    
    &__language
        display none
        word-wrap break-word
        min-height 48px
        -moz-appearance    none
        -webkit-appearance none
        appearance         none
        border none
        background-color transparent
        font-weight 700
        font-size 13px
        line-height 15px
        color clGreen
        text-shadow 0px 4px 4px rgba(0, 0, 0, 0.25)

        &:hover
        &:focus
        &:active
        &.active
            color clGray100
            transition all transitionLink
        
        &.disabled
            color clDisablid
         
        @media (min-width: $tablet)
            display block
        
        &--menu
            display block
            flex 0 0 auto
            margin-bottom 10px

            @media (min-width: $tablet)
                display none