.burger
    margin-left 10px

    @media (min-width: $tablet)
        background-color clDark
        min-height 100%
        position fixed
        top 0
        left 0
        bottom 0
        z-index 25000
        margin-left 0
        width 85px
        padding 22px 19px 20px
        flexD(column, space-between, stretch, nowrap)

        &.open
            background-color clMenuBkgr

            .burger__language
                display none

            .burger__icon
                width 48px
                padding 0
                margin 0 10px
                span
                    width 25px
    
    @media (min-width: $desktop-min)
        width 65px
        padding 20px 9px 16px
    
    @media (min-width: $desktop)
        padding-top 24px
