.footer
    background-color clFooter
    box-sizing border-box
    padding 16px

    &__tel
        font-weight normal
        font-size 13px
        line-height 15px
        color clFontGreen
        text-align right
    
    &__text
        font-weight normal
        font-size 13px
        line-height 15px
        color clFontGray
        text-align right 