.header
    flexD(row, space-between, flex-start, nowrap)
    padding-top 16px
    margin-bottom 13px

    @media (min-width: $tablet)
        position relative
        padding-top 32px
        margin-bottom 32px
        paddingMenu()
    
    &__top
        @media (min-width: $tablet)
            flex-grow 0
            flex-shrink 0
            flex-basis 100%

    &__top-wrapper
        flexD(column, flex-start, flex-end, wrap)

        @media (min-width: $tablet)
            flexD(row, space-between, flex-start, wrap)
    
    &__title
        color clFontGreen
        font-weight 700
        font-size 30px
        line-height 35px
        margin-bottom 9px
        word-wrap break-word

    &__map
        color clFontGray500
        position relative
        padding-left 29px

        &:hover
        &:focus
        &:active
        &.active
            color clFontBlack
            transition all transitionLink
        
        &.disabled
            color clDisablid

        span
            font-weight 400
            font-size 14px
            line-height 16px
            color currentColor
            word-wrap break-word