.menu
    display none
    absolute-all(0)
    z-index 2500
    min-height 100%
    width 100%
    opacity 0
    left -100%
    transition all transitionLink
    background clTransparentBkgr
    visibility hidden

    @media (min-width: $desktop-min)
        left 0
    
    &.open
        display block
        opacity 1
        left 0
        visibility visible

    &__wrapper
        background clMenuBkgr
        min-height 100%
        width 100%
        padding 0 25px
        flexD(column, flex-start, flex-start, nowrap)

        @media (min-width: $tablet)
            padding 0 97px
            flexD(column, center, flex-start, nowrap)
        
        @media (min-width: $desktop-min)
            width 60%
        
        @media (min-width: $desktop)
            width 52.2%
    
    &__content
        padding-top 80px
        flex-grow 1
        flex-shrink 1
        flex-basis auto

        @media (min-width: $tablet)
            flex-grow 0
            flex-shrink 0
            flex-basis auto
            padding-top 0