@import 'header.styl'
@import 'burger.styl'
@import 'footer.styl'
@import 'banner.styl'
@import 'slider.styl'
@import 'menu.styl'
@import 'social.styl'
@import 'menu-list.styl'
@import 'ui-kit/button.styl'
@import 'ui-kit/icon.styl'