.social
    &__list
        padding 0
        flexD(row, flex-start, center, nowrap)

        li
            margin-right 25px

            &:last-child
                margin-right 0px
    
    &__link
        display block
        width 32px
        height 32px

        &:hover .icon--social
        &:focus .icon--social
        &:active .icon--social
        &.active .icon--social
            fill clGreen
            transition all transitionLink
        
        &.disabled .icon--social
            fill clDisablid