@import 'utils/fonts.styl'
@import 'utils/variables.styl'
@import 'utils/mixins.styl'
@import 'libs.styl'

html
	display flex
	font-size 100%
	min-height 100%
	background-color clBackground

body
	font-family "roboto"
	font-style normal
	background-color clBackground
	display flex
	min-height 100%
	flex-direction column
	justify-content space-between
	align-items stretch
	min-width 320px
	width 100%

h1,h2,h3,h4,h5,h6
	margin 0

ul,li
	list-style-type none
	margin 0
	padding 0

p
	margin 0
	margin-bottom 5px

	&:last-child
		margin-bottom 0

a
	color black
	text-decoration none

audio,
canvas,
iframe,
img,
svg,
video
	vertical-align middle

textarea
	resize none

section
	position relative

*, *:before, *:after
	box-sizing border-box

.container
	width 100%
	margin 0 auto
	padding 0 16px

	@media (min-width: $tablet)
		padding 0 30px
	
	@media (min-width: $desktop)
		padding 0 64px

.page-wrapper
	min-height 100%
	width 100%

	@media (min-width: $desktop-min)
		flexD(row, flex-start, stretch, nowrap)


.wrapper
	flexD(column, space-between, stretch, nowrap)
	min-height 100%
	width 100%

	@media (min-width: $desktop-min)
		flex 0 0 60%
	
	@media (min-width: $desktop)
		flex 0 0 52.2%

.content
	flex 0 1 auto
	height 100%
	padding 20px 0

	@media (min-width: $tablet)
		padding-top 126px
		padding-bottom 40px

.header
.footer 
	flex 0 0 auto

//Модули
@import "modules/modules.styl"

// СТРАНИЦЫ
// Главная страница
@import 'pages/index.styl'