absolute-all(num)
	position absolute
	top num
	bottom num
	right num
	left num

paddingMenu()
	padding-left 88px

	@media (min-width: $desktop-min)
		padding-left 67px

flexD(direction, justifyContent, alignItems, flexWrap)
	display flex
	flex-direction direction
	justify-content justifyContent
	align-items alignItems
	flex-wrap flexWrap

ofi()
	position absolute
	left 0
	top 0
	bottom 0
	right 0
	width 100%
	height 100%
	object-fit cover
	font-family "object-fit: cover;"