absolute-center()
	position absolute
	top 50%
	left 50%
	transform translate(-50%,-50%)

absolute-all(num)
	position absolute
	top num
	bottom num
	right num
	left num

flexD(direction, justifyContent, alignItems, flexWrap)
	display flex
	flex-direction direction
	justify-content justifyContent
	align-items alignItems
	flex-wrap flexWrap

// rem(size)
// 	return (size/16)rem