// ЦВЕТА

//общие
clBlack900 = #121212
clBlack700 = #151B1F
clBlack500 = #111518
clBlackTransparent = rgba(21, 27, 31, 0.81)

clWhite = #fff

clGray100 = #EEE
clGray500 = #999999

clGreen = #0EC261
clGreenTransparent = rgba(14, 194, 97, .2)

//текст
clFontBlack = clBlack900
clFontWhite = #fff

clFontGray100 = clGray100
clFontGray500 = clGray500

clFontGreen = clGreen

clDisablid = clGray500

//фон
clBackground = #fff
clDark = clBlack700
clMenuBkgr = clBlack500
clTransparentBkgr = clBlackTransparent

//Градиенты
greenGradient = linear-gradient(90deg, hsl(169, 59%, 18%) 0%, hsl(128, 82%, 26%) 100%)
greenGradientInvert = linear-gradient(90deg, hsl(148, 87%, 41%) 2.61%, hsl(158, 96%, 32%) 112.6%)
blueGradient = linear-gradient(90deg, hsl(216, 59%, 18%) 0%, hsl(169, 82%, 26%) 100%)
redGradient = linear-gradient(90deg, hsl(32, 59%, 18%) 0%, hsl(335, 82%, 26%) 100%)
purpleGradient = linear-gradient(90deg, hsl(263, 59%, 18%) 0%, hsl(295, 82%, 26%) 100%)


greenGradientHover = linear-gradient(90deg, hsl(169, 59%, 13%) 0%, hsl(128, 82%, 21%) 100%)
greenGradientActive = linear-gradient(90deg, hsl(169, 59%, 15%) 0%, hsl(128, 82%, 23%) 100%)

greenGradientInvertHover = linear-gradient(90deg, hsl(148, 87%, 36%) 2.61%, hsl(158, 96%, 27%) 112.6%)
greenGradientInvertActive = linear-gradient(90deg, hsl(148, 87%, 38%) 2.61%, hsl(158, 96%, 29%) 112.6%)

blueGradientHover = linear-gradient(90deg, hsl(216, 59%, 13%) 0%, hsl(169, 82%, 21%) 100%)
blueGradientActive = linear-gradient(90deg, hsl(216, 59%, 15%) 0%, hsl(169, 82%, 23%) 100%)

redGradientHover = linear-gradient(90deg, hsl(32, 59%, 13%) 0%, hsl(335, 82%, 21%) 100%)
redGradientActive = linear-gradient(90deg, hsl(32, 59%, 15%) 0%, hsl(335, 82%, 23%) 100%)

purpleGradientHover = linear-gradient(90deg, hsl(263, 59%, 13%) 0%, hsl(295, 82%, 21%) 100%)
purpleGradientActive = linear-gradient(90deg, hsl(263, 59%, 15%) 0%, hsl(295, 82%, 23%) 100%)


// РАЗМЕРЫ

// baseFontSize = 100%(16px)

// ШРИФТЫ
//300 light
//400 normal
//500 medium
//700 bold
//900 Heavy

//БРЕКПОИНТЫ

$tablet = 768px
$desktop-min = 1024px
$desktop = 1440px

//АНИМАЦИИ

transitionButton = .30s
transitionLink = .25s