// ЦВЕТА

//общие
clBlack = #121212
clBlackLight = #151B1F

clWhite = #fff

clGray100 = #EEE
clGray500 = #999999

clGreen = #0EC261

//текст
clFontBlack = clBlack
clFontWhite = #fff

clFontGray100 = clGray100
clFontGray500 = clGray500

clFontGreen = clGreen

clDisablid = clGray500

//фон
clBackground = #fff
clDark = clBlackLight

//Градиенты
greenGradient = linear-gradient(90deg, #13493F 0%, #0C7B1B 100%)
greenGradientInvert = linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%)
blueGradient = linear-gradient(90deg, #132949 0%, #0C7B67 100%)
redGradient = linear-gradient(90deg, #493013 0%, #7B0C3B 100%)
purpleGradient = linear-gradient(90deg, #493013 0%, #7B0C3B 100%)


// РАЗМЕРЫ

// baseFontSize = 100%(16px)

// ШРИФТЫ
//300 light
//400 normal
//500 medium
//700 bold
//900 Heavy

//БРЕКПОИНТЫ

$tablet = 768px
$desktop-min = 1024px
$desktop = 1440px

//АНИМАЦИИ

transitionButton = .30s
transitionLink = .25s