// ЦВЕТА

//общие
clGreen = #0EC261
clBlack = #121212
clGray = #999999
clWhite = #fff
clLightGray = #EEE
clTransparent = transparent
clBlackLight = #151B1F

//текст
clFontBlack = clBlack
clFontGreen = clGreen
clFontGray = clGray
clFontWhite = clWhite
clFontLightGray = clLightGray

//другие
clFooter = clBlackLight

//Градиенты
greenGradient = linear-gradient(90deg, #13493F 0%, #0C7B1B 100%)
greenGradientInvert = linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%)
blueGradient = linear-gradient(90deg, #132949 0%, #0C7B67 100%)
redGradient = linear-gradient(90deg, #493013 0%, #7B0C3B 100%)
purpleGradient = linear-gradient(90deg, #493013 0%, #7B0C3B 100%)

// РАЗМЕРЫ
// baseFontSize = 16px


// ШРИФТЫ