block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="аренда, автомобиль, поездка, парковка, бензин, страховка")
		meta(name="description" content="Данный сайт содержит информацию для арендателей автомобилей, на нем Вы можете забронировать нужный вам автомобиль")
		meta(http-equit="Content-type" content="text/html; charset=ISO-2022-JP")
		meta(meta name="Robots" content="ALL")
		
		<meta name="apple-mobile-web-app-title" content="Need for drive">
		<meta name="application-name" content="Need for drive">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-config" content="static/img/favicon/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
		<link rel="apple-touch-icon" sizes="180x180" href="static/img/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon/favicon-16x16.png">
		<link rel="manifest" href="static/img/favicon/site.webmanifest">
		<link rel="mask-icon" href="static/img/favicon/safari-pinned-tab.svg" color="#34ba50">
		<link rel="shortcut icon" href="static/img/favicon/favicon.ico">

		link(rel="stylesheet" type='text/css' href="static/css/main.css")
		link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")

		<!--[if lt IE 9]>
		script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		<![endif]-->
	body(class=pageClass)
		.page-wrapper
			.wrapper
				include ../modules/header
				main.content
					block content
				include ../modules/footer
			include ../modules/slider
			+slider({'items':
                [{	'src': 'static/img/content/1.png',
					'title': 'Бесплатная парковка',
					'text': '<p>Оставляйте машину на платных городских парковках и разрешенных местах, не нарушая ПДД, а также в аэропортах.</p>'
                },
				{	
					'src': 'static/img/content/2.png',
					'title': 'Страховка',
					'text': '<p>Полная страховка страховка автомобиля</p>'
                },
				{
					'src': 'static/img/content/3.png',
					'title': 'Бензин',
					'text': '<p>Полный бак на любой заправке города за наш счёт</p>'
                },
				{
					'src': 'static/img/content/4.png',
					'title': 'Обслуживание',
					'text': '<p>Автомобиль проходит еженедельное ТО</p>'
                },
            ]})
			include ../modules/menu
			+menu()
		script(src="static/js/jquery.js")
		script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
		script(src="static/js/slider.js")
		script(src="static/js/libs.min.js")
		script(src="static/js/menu.js")
		script(src="static/js/main.js")
		block script